html{
    height: 100%;
}
body{
    max-width: 60%;
    min-width: 600px;
    margin: auto;
}
footer{
    position: absolute;
    bottom: 0px;
}
textarea{
    margin-bottom: 20px;
    min-height: 400px;
}